@model OOAD2022.Models.Rezervacija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sifra" class="control-label"></label>
                <input asp-for="Sifra" class="form-control" />
                <span asp-validation-for="Sifra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumDolaska" class="control-label"></label>
                <input asp-for="DatumDolaska" class="form-control" />
                <span asp-validation-for="DatumDolaska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumOdlaska" class="control-label"></label>
                <input asp-for="DatumOdlaska" class="form-control" />
                <span asp-validation-for="DatumOdlaska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UplataId" class="control-label"></label>
                <input asp-for="UplataId" class="form-control" />
                <span asp-validation-for="UplataId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recenzija" class="control-label"></label>
                <input asp-for="Recenzija" class="form-control" />
                <span asp-validation-for="Recenzija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <input asp-for="KorisnikId" class="form-control" />
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmjestajId" class="control-label"></label>
                <input asp-for="SmjestajId" class="form-control" />
                <span asp-validation-for="SmjestajId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
