@model OOAD2022.Models.Smjestaj

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Smjestaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SmjestajId" />
            <div class="form-group">
                <label asp-for="NazivSmjestaja" class="control-label"></label>
                <input asp-for="NazivSmjestaja" class="form-control" />
                <span asp-validation-for="NazivSmjestaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresaSmjestaja" class="control-label"></label>
                <input asp-for="AdresaSmjestaja" class="form-control" />
                <span asp-validation-for="AdresaSmjestaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kontakt" class="control-label"></label>
                <input asp-for="Kontakt" class="form-control" />
                <span asp-validation-for="Kontakt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrstaSmjestaja" class="control-label"></label>
                <select asp-for="VrstaSmjestaja" class="form-control"></select>
                <span asp-validation-for="VrstaSmjestaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
