
@{
    ViewData["Title"] = "Index";
}

@*ne radi ovo*@
<div style="align-items: center; display: flex; flex-direction: row">
  <input type="search" id="query" name="q" placeholder="Unesite lokaciju...">
  <button>Search</button>
</div>

<h1>Mapa</h1>