@model IEnumerable<OOAD2022.Models.Smjestaj>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<title>RezervisiMe</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
</head>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">ZATVORI PROZOR</a>
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">REZERVACIJE</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">MI</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16">RezervisiMe</div>
    <div class="w3-center w3-padding-16">Rezervacija</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="https://pix10.agoda.net/hotelImages/22930930/0/2ccfab45d20f8d8e3b0c712a8ba5c20d.jpg?ca=23&ce=0&s=1024x768" alt="Sandwich" style="width:100%; height:210px">
      <h3>Hotel Hills Sarajevo</h3>
      <p>Rezervišite svoje mjesto u hotelu iznad</p>
       <p><button class="w3-button w3-light-grey w3-block"><a asp-controller="Rezervacija" asp-action="Create">REZERVISITE</a></button></p>
    </div>
    <div class="w3-quarter">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/14/19/21/hotel-hollywood-sarajevo.jpg" alt="Steak" style="width:100%; height:210px">
      <h3>Hotel Hollywood Sarajevo</h3>
      <p>Rezervišite svoje mjesto u hotelu iznad</p>
      <p><button class="w3-button w3-light-grey w3-block"><a asp-controller="Rezervacija" asp-action="Create">REZERVISITE</a></button></p>    
  </div>
    <div class="w3-quarter">
      <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/241307603.jpg?k=93aba2b8c4909e90cb6e5e55ff1676dd6a944139423ba99e0ad32cb589606f28&o=&hp=1" alt="Cherries" style="width:100%; height:210px">
      <h3>Hotel Europe Sarajevo</h3>
      <p>Rezervišite svoje mjesto u hotelu iznad</p>
      <a asp-controller="Home" asp-action="Index"></a>
      <p ><button class="w3-button w3-light-grey w3-block"> <a asp-controller="Rezervacija" asp-action="Create">REZERVISITE</a></button></p>
    </div>
    <div class="w3-quarter">
      <img src="https://pix10.agoda.net/hotelImages/22930852/0/6e986f0dff7a715b0a0196dfbd36a963.jpg?ca=23&ce=0&s=1024x768" alt="Pasta and Wine" style="width:100%; height:210px">
      <h3>Hotel Holiday Sarajevo</h3>
      <p>Rezervišite svoje mjesto u hotelu iznad</p>
      <p><button class="w3-button w3-light-grey w3-block"><a asp-controller="Rezervacija" asp-action="Create">REZERVISITE</a></button></p>
    </div>
  </div>
  

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <div><button class="w3-button w3-light-grey w3-block"> <a asp-controller="MapPretrazivanje" asp-action="Index">PRIKAŽI MAPU</a></button></div>
  
  <hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">  
    <h3>Vaš AAEInvest</h3><br>
    <img src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
      <h4><b>S NAMA JE BRŽE!</b></h4>
    </div>
  </div>
  <hr>
  
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>POSJETITE NAŠ RAD</h3>
      <p>Naša stranica s projektima i svim dosadašnjim zalaganjima na ovom projektu</p>
      <p>Powered by <a href="https://github.com/ooad-2021-2022/Grupa4-AAEInvest" target="_blank">AAEInvest</a></p>
    </div>
  
    <div class="w3-third">
      <h3>PREDLOŽENO?</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="https://www.sobe-smestaj.com/bih/galerija/28736103-2015-01-19-14-31-50.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">MOTEL PIRAMIDA SUNCA</span><br>
          <span>Visoko</span>
        </li>
        <li class="w3-padding-16">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwLNtA_nxlaWiArtzN0ewP9-QIFWlhJTTK-ksDD-3DdVLFI716fpsDKS5duuZw6RdHf-c&usqp=CAU" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">HOSTEL</span><br>
          <span>Franc Ferdinand</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>POPULARNA MJESTA</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">HOTEL HILLS</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">HOTEL HOLLYWOOD</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">HOTEL EUROPE</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">MOTEL PIRADMIDA SUNCA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">HOTEL HOLIDAY</span> 

      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
