@model IEnumerable<OOAD2022.Models.Smjestaj>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<title>RezervisiMe</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
 <header>
       <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RezervisiMe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MapPretrazivanje" asp-action="Index">MAPA</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="Index">Korisnici</a>
                            </li>
                        }
                         @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Rezervacija" asp-action="Index">Rezervacije</a>
                            </li>
                        }
                         @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Smjestaj" asp-action="Index">Smjestaji</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
<body>
<div class="w3-container w3-padding-25" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="text-align:center">REZERVIŠI</h3>
  </div>

  <div class="w3-row-padding w3-grayscale" >
    <div class="w3-col l3 m6 w3-margin-bottom">
      <a href="https://hotelhills.ba/"><img src="https://kongres-magazine.eu/wp-content/uploads/2017/07/obrada.jpg?x36696" alt="John" style="width:100%" height="230"></a>
      <h3>Hotel Hills Sarajevo</h3>
      <p class="w3-opacity">Hotel</p>
      <p>Hotel Hills Sarajevo Congress & Thermal spa resort je deo termalne rivijere Ilidža i obuhvata veliki kompleks bazena u zatvorenom i na otvorenom...</p>
      <p><button class="w3-button w3-light-grey w3-block" asp-controller="Rezervacija" asp-action="Index">REZERVIŠI</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
       <a href="https://www.vilaandrea.com/"><img src="https://t-cf.bstatic.com/xdata/images/hotel/max1280x900/79915357.jpg?k=a91f2172cc1d17b5b4b80ef721eec947e661956a1262802530e84bada999947b&o=&hp=1" alt="Jane" style="width:100%" height="230"></a>
      <h3>Motel Vila Andrea</h3>
      <p class="w3-opacity">Motel</p>
      <p>Privatni smještaj Vila Andrea nalazi se u Kantonu Sarajevo, 7 km od Sarajeva, te ima dječje igralište i pogled na vrt. U sklopu objekta dostupan je restoran...</p>
      <p><button class="w3-button w3-light-grey w3-block" asp-controller="Rezervacija" asp-action="Index">REZERVIŠI</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <a href="https://hostel-mak.sarajevohotels.org/en/"> <img src="https://t-cf.bstatic.com/xdata/images/hotel/max1280x900/67234985.jpg?k=d7331b1fc02e920a1702a57403e121c0f749c741e5a1c3242ccdc7a9a05d320a&o=&hp=1" alt="Mike" style="width:100%" height="230"></a>
      <h3>Hostel Mak Sarajevo</h3>
      <p class="w3-opacity">Hostel</p>
      <p>Objekat Hostel Mak nudi smeštaj sa vrtom i besplatnim WiFi internetom u svim prostorijama u Sarajevu, na manje od 1,2 km od Sebilj česme... </p>
      <p><button class="w3-button w3-light-grey w3-block" asp-controller="Rezervacija" asp-action="Index">REZERVIŠI</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
       <img src="https://t-cf.bstatic.com/xdata/images/hotel/max1280x900/187097523.jpg?k=b6ca5c11c2a1bd5e1ce58f5768f82079ca184b27db25a68e137d8e2c768a6534&o=&hp=1" alt="Dan" style="width:100%" height="230">
      <h3>Pansion Konak Sarajevo</h3>
      <p class="w3-opacity">Pansion</p>
      <p>Objekat Pansion Stari Konak nalazi se u Sarajevu, na 2 km od Sarajevskog ratnog tunela. U ponudi je smještaj sa restoranom....</p>
      <p><button class="w3-button w3-light-grey w3-block" asp-controller="Rezervacija" asp-action="Index">REZERVIŠI</button></p>
    </div>
  </div>

</body>
</html>
